## Define the stages & order of execution

stages:
  - CLUSTER-SETUP
  - PROVIDER-INFRA-SETUP
  - APP-FUNC-TEST
  - UPGRADE-OPENEBS
  - APP-CHAOS-TEST
  - CLUSTER-CLEANUP

konvoy-cluster:
  image: openebs/openshift-ci:latest
  stage: CLUSTER-SETUP
  tags: 
    - k8s-konvoy 
  script:
    - chmod 755 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/1-cluster-setup/cluster-setup/cluster-setup
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/1-cluster-setup/cluster-setup/cluster-setup

## Setup OpenEBS control plane

OPENEBS-KONVOY-DEPLOY:
  image: openebs/openshift-ci:latest
  stage: PROVIDER-INFRA-SETUP
  tags: 
    - k8s-konvoy
  dependencies:
    - konvoy-cluster
  script: 
    - chmod 755 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/2-Infra-setup/openebs-deploy/infra-setup
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/2-Infra-setup/openebs-deploy/infra-setup

OPENEBS-SC-DEPLOY:
  image: openebs/openshift-ci:latest
  stage: PROVIDER-INFRA-SETUP
  tags: 
    - k8s-konvoy
  dependencies:
    - konvoy-cluster
  script:
   - chmod 755 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/2-Infra-setup/storage-policies/openebs-sc
   - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/2-Infra-setup/storage-policies/openebs-sc

STRIPED-POOL:
  image: openebs/openshift-ci:latest
  stage: PROVIDER-INFRA-SETUP
  tags: 
    - k8s-konvoy
  dependencies:
    - konvoy-cluster
  script:
   - chmod 755 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/2-Infra-setup/create-striped-pool/create-striped-pool
   - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/2-Infra-setup/create-striped-pool/create-striped-pool

MIRRORED-POOL:
  image: openebs/openshift-ci:latest
  stage: PROVIDER-INFRA-SETUP
  tags: 
    - k8s-konvoy
  dependencies:
    - konvoy-cluster
  script:
   - chmod 755 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/2-Infra-setup/create-mirrored-pool/create-mirrored-pool
   - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/2-Infra-setup/create-mirrored-pool/create-mirrored-pool

RAIDZ1-POOL:
  image: openebs/openshift-ci:latest
  stage: PROVIDER-INFRA-SETUP
  tags: 
    - k8s-konvoy
  dependencies:
    - konvoy-cluster
  script:
   - chmod 755 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/2-Infra-setup/create-raidz1-pool/create-raidz1-pool
   - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/2-Infra-setup/create-raidz1-pool/create-raidz1-pool

RAIDZ2-POOL:
  image: openebs/openshift-ci:latest
  stage: PROVIDER-INFRA-SETUP
  tags: 
    - k8s-konvoy
  dependencies:
    - konvoy-cluster
  script:
   - chmod 755 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/2-Infra-setup/create-raidz2-pool/create-raidz2-pool
   - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/2-Infra-setup/create-raidz2-pool/create-raidz2-pool

# ## Define job template for func jobs    
.func_test_template:
  image: openebs/openshift-ci:latest
  stage: APP-FUNC-TEST
  tags: 
    - k8s-konvoy
  when: always
  dependencies:
    - konvoy-cluster  

busybox-deployment-cstor:
  extends: .func_test_template
  script:
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/busybox-deployment-cstor/busybox-deployment-cstor
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/busybox-deployment-cstor/busybox-deployment-cstor

busybox-deployment-jiva:
  extends: .func_test_template
  script:
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/busybox-deployment-jiva/busybox-deployment-jiva
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/busybox-deployment-jiva/busybox-deployment-jiva

percona-deployment-cstor:
  extends: .func_test_template
  script:
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/percona-deployment-cstor/percona-deployment-cstor
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/percona-deployment-cstor/percona-deployment-cstor

percona-deployment-localpv-device:
  extends: .func_test_template
  script:
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/percona-localpv-device/percona-localpv-device
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/percona-localpv-device/percona-localpv-device

percona-deployment-localpv-hostpath:
  extends: .func_test_template
  script:
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/percona-localpv-hostpath/percona-localpv-hostpath
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/percona-localpv-hostpath/percona-localpv-hostpath
     
percona-deployment-jiva:
  extends: .func_test_template
  script:
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/percona-deployment-jiva/percona-deployment-jiva
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/percona-deployment-jiva/percona-deployment-jiva

busybox-cstor-clone:
  extends: .func_test_template
  script:
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/busybox-cstor-clone/busybox-cstor-clone
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/busybox-cstor-clone/busybox-cstor-clone

busybox-cstor-snapshot:
  extends: .func_test_template
  script:
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/busybox-cstor-snapshot/busybox-cstor-snapshot
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/busybox-cstor-snapshot/busybox-cstor-snapshot

busybox-jiva-snapshot:
  extends: .func_test_template
  script:
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/busybox-jiva-snapshot/busybox-jiva-snapshot
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/busybox-jiva-snapshot/busybox-jiva-snapshot

.upgrade_openebs:
  image: openebs/openshift-ci:latest
  stage: UPGRADE-OPENEBS
  tags: 
    - k8s-konvoy
  when: always
  dependencies:
    - konvoy-cluster 

upgrade-control-plane:
  extends: .upgrade_openebs
  script:
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/4-upgrade-openebs/upgrade-control-plane
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/4-upgrade-openebs/upgrade-control-plane

upgrade-cstor:
  extends: .upgrade_openebs
  script:
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/4-upgrade-openebs/upgrade-cstor
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/4-upgrade-openebs/upgrade-cstor

upgrade-jiva:
  extends: .upgrade_openebs
  script:
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/4-upgrade-openebs/upgrade-jiva
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/4-upgrade-openebs/upgrade-jiva

.chaos_test_template:
  image: openebs/openshift-ci:latest
  stage: APP-CHAOS-TEST
  tags: 
    - k8s-konvoy
  when: always
  dependencies:
    - konvoy-cluster
    
busybox-controller-kill:
  extends: .chaos_test_template
  script:
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/5-chaos/bb-controller-kill
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/5-chaos/bb-controller-kill

busybox-target-kill:
  extends: .chaos_test_template
  script:
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/5-chaos/bb-target-kill
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/5-chaos/bb-target-kill

busybox-cstor-pool-kill:
  extends: .chaos_test_template
  script:
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/5-chaos/bb-cstor-pool-kill
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/5-chaos/bb-cstor-pool-kill

busybox-cstor-pool-delete:
  extends: .chaos_test_template
  script:
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/5-chaos/bb-cstor-pool-delete
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/5-chaos/bb-cstor-pool-delete

busybox-deployment-target-network-delay:
  extends: .chaos_test_template
  script:
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/5-chaos/bb-deployment-target-nw-delay
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/5-chaos/bb-deployment-target-nw-delay

busybox-deployment-controller-network-delay:
  extends: .chaos_test_template
  script:
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/5-chaos/bb-deployment-controller-nw-delay
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/5-chaos/bb-deployment-controller-nw-delay

percona-target-network-delay:
  extends: .chaos_test_template
  script:
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/5-chaos/percona-target-nw-delay
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/5-chaos/percona-target-nw-delay

percona-controller-network-delay:
  extends: .chaos_test_template
  script:
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/5-chaos/percona-controller-nw-delay
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/5-chaos/percona-controller-nw-delay

percona-cstor:
  extends: .chaos_test_template
  script:
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/5-chaos/percona-deployment-cstor
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/5-chaos/percona-deployment-cstor

percona-jiva:
  extends: .chaos_test_template
  script:
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/5-chaos/percona-deployment-jiva
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/5-chaos/percona-deployment-jiva
     
clone-busybox-cstor:
  extends: .chaos_test_template
  script:
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/5-chaos/bb-cstor-clone
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/5-chaos/bb-cstor-clone

percona-verify-data-persistence-device:
  extends: .chaos_test_template
  script:
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/5-chaos/percona-verify-data-persistence-device
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/5-chaos/percona-verify-data-persistence-device

percona-verify-data-persistence-hostpath:
  extends: .chaos_test_template
  script:
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/5-chaos/percona-verify-data-persistence-hostpath
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/5-chaos/percona-verify-data-persistence-hostpath

percona-deploy-localpv-device:
  extends: .chaos_test_template
  script:
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/5-chaos/percona-deployment-device
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/5-chaos/percona-deployment-device

percona-deploy-localpv-hostpath:
  extends: .chaos_test_template
  script:
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/5-chaos/percona-deployment-hostpath
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/5-chaos/percona-deployment-hostpath

konvoy-cleanup:
  image: openebs/openshift-ci:latest
  stage: CLUSTER-CLEANUP
  when: always  
  dependencies: 
    - konvoy-cluster
  tags: 
    - k8s-konvoy 
  script:
    - chmod 755 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/6-cleanup/cluster-cleanup/cluster-cleanup
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/6-cleanup/cluster-cleanup/cluster-cleanup
