## Define the stages & order of execution

stages:
  - CLUSTER-SETUP
  - PROVIDER-INFRA-SETUP
  # - STATEFUL-APP-DEPLOY
  # - APP-FUNC-TEST
  # - APP-CHAOS-TEST
  # - APP-DEPROVISION    
  - CLUSTER-CLEANUP

SUTP-konvoy-cluster:
  image: openebs/openshift-ci:latest
  stage: CLUSTER-SETUP
  tags: 
    - k8s-konvoy 
  script:
    - chmod 755 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/1-cluster-setup/SUTP-cluster-setup/cluster-setup
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/1-cluster-setup/SUTP-cluster-setup/cluster-setup

## Setup OpenEBS control plane

XJGT-OPENEBS-KONVOY-DEPLOY:
  image: openebs/openshift-ci:latest
  stage: PROVIDER-INFRA-SETUP
  tags: 
    - k8s-konvoy
  dependencies:
    - SUTP-konvoy-cluster
  script: 
    - chmod 755 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/2-Infra-setup/XJGT-openebs-deploy/infra-setup
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/2-Infra-setup/XJGT-openebs-deploy/infra-setup

PIGE-OPENEBS-SC-DEPLOY:
  image: openebs/openshift-ci:latest
  stage: PROVIDER-INFRA-SETUP
  tags: 
    - k8s-konvoy
  dependencies:
    - SUTP-konvoy-cluster
  script:
   - chmod 755 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/2-Infra-setup/PIGE-storage-policies/openebs-sc
   - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/2-Infra-setup/PIGE-storage-policies/openebs-sc

GZTK-STRIPED-POOL:
  image: openebs/openshift-ci:latest
  stage: PROVIDER-INFRA-SETUP
  tags: 
    - k8s-konvoy
  dependencies:
    - SUTP-konvoy-cluster
  script:
   - chmod 755 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/2-Infra-setup/GZTK-create-striped-pool/create-striped-pool
   - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/2-Infra-setup/GZTK-create-striped-pool/create-striped-pool

GCLC-MIRRORED-POOL:
  image: openebs/openshift-ci:latest
  stage: PROVIDER-INFRA-SETUP
  tags: 
    - k8s-konvoy
  dependencies:
    - SUTP-konvoy-cluster
  script:
   - chmod 755 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/2-Infra-setup/GCLC-create-mirrored-pool/create-mirrored-pool
   - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/2-Infra-setup/GCLC-create-mirrored-pool/create-mirrored-pool

AMHE-RAIDZ1-POOL:
  image: openebs/openshift-ci:latest
  stage: PROVIDER-INFRA-SETUP
  tags: 
    - k8s-konvoy
  dependencies:
    - SUTP-konvoy-cluster
  script:
   - chmod 755 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/2-Infra-setup/AMHE-create-raidz1-pool/create-raidz1-pool
   - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/2-Infra-setup/AMHE-create-raidz1-pool/create-raidz1-pool

.func_test_template:
  image: openebs/openshift-ci:latest
  stage: APP-FUNC-TEST
  tags: 
    - k8s-konvoy
  when: always
  dependencies:
    - SUTP-konvoy-cluster  

AVNT-jiva-replica-scaleup:
  extends: .func_test_template
  script: 
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/AVNT-jiva-replica-scaleup/jiva-replica-scaleup
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/AVNT-jiva-replica-scaleup/jiva-replica-scaleup

CCRT-Jiva-App-replica-Scaleup:
  extends: .func_test_template
  script: 
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/CCRT-Jiva-App-replica-Scaleup/Jiva-App-replica-Scaleup
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/CCRT-Jiva-App-replica-Scaleup/Jiva-App-replica-Scaleup

ISBE-jiva-pods-openebs-namespace:
  extends: .func_test_template
  script: 
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/ISBE-jiva-pods-openebs-namespace/jiva-pods-openebs-namespace
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/ISBE-jiva-pods-openebs-namespace/jiva-pods-openebs-namespace

KUSP-CAS-parameters:
  extends: .func_test_template
  script: 
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/KUSP-CAS-parameters/CAS-parameters
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/KUSP-CAS-parameters/CAS-parameters

LLJA-Jiva-internal-snapshot-deletion:
  extends: .func_test_template
  script: 
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/LLJA-Jiva-internal-snapshot-deletion/Jiva-internal-snapshot-deletion
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/LLJA-Jiva-internal-snapshot-deletion/Jiva-internal-snapshot-deletion

MBKO-clone-different-capacity:
  extends: .func_test_template
  script: 
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/MBKO-clone-different-capacity/clone-different-capacity
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/MBKO-clone-different-capacity/clone-different-capacity

PLIR-create-cstor-clone:
  extends: .func_test_template
  script: 
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/PLIR-create-cstor-clone/create-cstor-clone
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/PLIR-create-cstor-clone/create-cstor-clone

POXG-STS-App-Target-Affinity:
  extends: .func_test_template
  script: 
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/POXG-STS-App-Target-Affinity/STS-App-Target-Affinity
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/POXG-STS-App-Target-Affinity/STS-App-Target-Affinity

QUSX-create-cstor-snapshot:
  extends: .func_test_template
  script: 
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/QUSX-create-cstor-snapshot/create-cstor-snapshot
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/QUSX-create-cstor-snapshot/create-cstor-snapshot

TIXL-fill-volume:
  extends: .func_test_template
  script: 
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/TIXL-fill-volume/fill-volume
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/TIXL-fill-volume/fill-volume

UAFE-rwx-app-deploy:
  extends: .func_test_template
  script: 
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/UAFE-rwx-app-deploy/rwx-app-deploy
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/UAFE-rwx-app-deploy/rwx-app-deploy

USGA-Create-jiva-snapshot:
  extends: .func_test_template
  script: 
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/USGA-Create-jiva-snapshot/Create-jiva-snapshot
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/USGA-Create-jiva-snapshot/Create-jiva-snapshot

WVFD-scale-sts-replicas:
  extends: .func_test_template
  script: 
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/WVFD-scale-sts-replicas/scale-sts-replicas
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/WVFD-scale-sts-replicas/scale-sts-replicas

XBRF-Jiva-App-Target-Affinity:
  extends: .func_test_template
  script: 
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/XBRF-Jiva-App-Target-Affinity/Jiva-App-Target-Affinity
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/XBRF-Jiva-App-Target-Affinity/Jiva-App-Target-Affinity

XXXC-Clone-parent-vol-delete:
  extends: .func_test_template
  script: 
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/XXXC-Clone-parent-vol-delete/Clone-parent-vol-delete
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/XXXC-Clone-parent-vol-delete/Clone-parent-vol-delete

XZDZ-STS-Volume-Distribution:
  extends: .func_test_template
  script: 
    - chmod 775 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/XZDZ-STS-Volume-Distribution/STS-Volume-Distribution
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/3-functional/XZDZ-STS-Volume-Distribution/STS-Volume-Distribution

# app-replica-scale-{cassandra-jiva}:                  
#   extends: .func_test_template #dependencies: cassandra-jiva
#   script:
#    - chmod 755 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/apps/cassandra/functional/jiva/app-sts-replica-scale
#    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/apps/cassandra/functional/jiva/app-sts-replica-scale

# app-upgrade-deployment-{jenkins-jiva}:
#   extends: .func_test_template #dependencies: jenkins-jiva
#   script:
#    - chmod 755 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/apps/jenkins/functional/jiva/app-upgrade-deployment
#    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/apps/jenkins/functional/jiva/app-upgrade-deployment

# volume-data-integrity-{fio-jiva}:
#   extends: .func_test_template 
#   script:
#    - chmod 755 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/apps/fio/tests/jiva/fio-volume-data-integrity-check
#    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/apps/fio/tests/jiva/fio-volume-data-integrity-check

# volume-data-integrity-{fio-cstor}:
#   extends: .func_test_template
#   script:
#    - chmod 755 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/apps/fio/tests/cstor/fio-volume-data-integrity-check
#    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/apps/fio/tests/cstor/fio-volume-data-integrity-check

# volume-memory-consumption-{memcheck-jiva}:  
#   extends: .func_test_template 
# KSDJ-RAIDZ2-POOL:
#   image: openebs/openshift-ci:latest
#   stage: PROVIDER-INFRA-SETUP
#   tags: 
#     - k8s-konvoy
#   dependencies:
#     - SUTP-konvoy-cluster
#   script:
#    - chmod 755 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/2-Infra-setup/KSDJ-create-raidz2-pool/create-raidz2-pool
#    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/2-Infra-setup/KSDJ-create-raidz2-pool/create-raidz2-pool

OQEW-NFSv4-PROVISION:
  image: openebs/openshift-ci:latest
  stage: PROVIDER-INFRA-SETUP
  tags: 
    - k8s-konvoy
  dependencies:
    - SUTP-konvoy-cluster
  script:
   - chmod 755 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/2-Infra-setup/OQEW-create-nfs-provisioner/nfsv4-provision
   - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/2-Infra-setup/OQEW-create-nfs-provisioner/nfsv4-provision
 
HODS-CSI-PROVISIONER:
  image: openebs/openshift-ci:latest
  stage: PROVIDER-INFRA-SETUP
  tags: 
    - k8s-konvoy
  dependencies:
    - SUTP-konvoy-cluster
  script:
   - chmod 755 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/2-Infra-setup/HODS-deploy-csi-provisioner/deploy-csi-provisioner
   - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/2-Infra-setup/HODS-deploy-csi-provisioner/deploy-csi-provisioner

# ## Define job template for chaos jobs 

# .chaos_test_template:
#   image: openebs/openshift-ci:latest
#   stage: APP-CHAOS-TEST
#   tags: 
#     - k8s-konvoy
#   when: always
#   dependencies:
#     - SUTP-konvoy-cluster 
  
# repl-kill-{percona-jiva}:
#   extends: .chaos_test_template #dependencies: percona-jiva
#   script:
#    - chmod 755 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/apps/percona/chaos/jiva/volume-replica-failure
#    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/apps/percona/chaos/jiva/volume-replica-failure

# ## Single replica failure
# single-repl-kill-{percona-jiva}:
#   extends: .chaos_test_template #dependencies: percona-jiva-single-replica
#   script:
#    - chmod 755 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/apps/percona/chaos/jiva/single-replica-failure
#    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/apps/percona/chaos/jiva/single-replica-failure

# ctrl-kill-{mongo-jiva}:
#   extends: .chaos_test_template #dependencies: mongo-jiva
#   script:
#    - chmod 755 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/apps/mongo/chaos/jiva/volume-controller-failure
#    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/apps/mongo/chaos/jiva/volume-controller-failure

#      #repl-disconnect-{jenkins-jiva}:
#      #  extends: .chaos_test_template #dependencies: jenkins-jiva
#      #  script:
#      #   - chmod 755 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/apps/jenkins/chaos/jiva/volume-replica-network-delay
#      #   - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/apps/jenkins/chaos/jiva/volume-replica-network-delay

#      #ctrl-disconnect-{postgres-jiva}:
#      #  extends: .chaos_test_template #dependencies: postgres-jiva
#      #  script:
#      #   - chmod 755 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/apps/postgres/chaos/jiva/volume-controller-network-delay
#      #   - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/apps/postgres/chaos/jiva/volume-controller-network-delay

#      #app-kill-{jenkins-cstor}:
#      #  extends: .chaos_test_template #dependencies: jenkins-cstor
#      #  script:
#      #   - chmod 755 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/apps/jenkins/chaos/cstor/application-pod-failure
#      #   - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/apps/jenkins/chaos/cstor/application-pod-failure

#      #app-kill-{cassandra-jiva}:
#      #  extends: .chaos_test_template #dependencies: mongo-jiva
#      #  script:
#      #   - chmod 755 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/apps/cassandra/chaos/jiva/application-pod-failure
#      #   - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/apps/cassandra/chaos/jiva/application-pod-failure

#      #tgt-kill-{percona-cstor}:
#      #  extends: .chaos_test_template #dependencies: percona-cstor
#      #  script:
#      #   - chmod 755 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/apps/percona/chaos/cstor/volume-target-failure
#      #   - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/apps/percona/chaos/cstor/volume-target-failure

#      #tgt-disconnect-{mongo-cstor}:
#      #  extends: .chaos_test_template #dependencies: mongo-cstor
#      #  script:
#      #   - chmod 755 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/apps/mongo/chaos/cstor/volume-target-network-delay
#      #   - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/apps/mongo/chaos/cstor/volume-target-network-delay

ISTV-konvoy-cleanup:
  image: openebs/openshift-ci:latest
  stage: CLUSTER-CLEANUP
  when: always  
  dependencies: 
    - SUTP-konvoy-cluster
  tags: 
    - k8s-konvoy 
  script:
    - chmod 755 ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/ISTV-cluster-cleanup/cluster-cleanup
    - ./openebs-konvoy-e2e/pipelines/OpenEBS-base/stages/ISTV-cluster-cleanup/cluster-cleanup
